/* FUENTES EXTERNAS Y VARIABLES GLOBALES */
@font-face {
  font-family: Kanit-Regular;
  src: url(../Assets/Kanit/Kanit-Regular.ttf);
}
@font-face {
  font-family: Kanit-ExtBold;
  src: url(../Assets/Kanit/Kanit-ExtraBold.ttf);
}
@font-face {
  font-family: Kanit-Medium;
  src: url(../Assets/Kanit/Kanit-Medium.ttf);
}
@font-face {
  font-family: Kanit-Black;
  src: url(../Assets/Kanit/Kanit-Black.ttf);
}
@font-face {
  font-family: Kanit-light;
  src: url(../Assets/Kanit/Kanit-Light.ttf);
}
:root {
  --kanit-regular: Kanit-Regular;
  --kanit-ExtBold: Kanit-ExtBold;
  --kanit-medium: Kanit-Medium;
  --kanit-black: Kanit-Black;
  --kanit-light: Kanit-light;
  --color1: #0198fa;
  --color2: #fff;
  --color3: #000;
  --color4: #ff5719;
}
body {
  scroll-margin-top: 57px;
}

/* Estilos Para La Subpágina de Lista de Episodios De Chainsaw Man */
.hero-image {
  margin: 1rem auto 0;
  width: 95%;
  height: 600px;
  background-image: url(../IMG/Chainsaw\ Man/imagen\ 2.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
  border: medium var(--color1) solid;
  overflow: hidden;
}
.black-cape {
  background-color: #0007;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-title {
  text-align: center;
  color: var(--color2);
  font-family: var(--kanit-black);
  font-size: 3rem;
}

.article1 {
  width: 100%;
  height: auto;
  background-color: var(--color1);
  scroll-margin-top: 57px;
}
.article1-title {
  font-size: 1.7rem;
  color: var(--color2);
  text-align: center;
  font-family: var(--kanit-ExtBold);
  padding: 1.5rem;
  margin: 0;
}

/* Estilos Para Las Miniaturas */
.miniatura-eps {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: medium var(--color2) solid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  scroll-margin: 57px;
}
.miniatura-img {
  width: 40%;
  height: 80px;
  border-radius: 10px;
  border: medium var(--color2) solid;
}
.miniatura-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.number-eps {
  color: var(--color2);
  font-family: var(--kanit-black);
  font-size: 1.3rem;
}
.eps-title {
  color: var(--color2);
  font-family: var(--kanit-ExtBold);
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  width: 40%;
}
/* Estilos Para El Glosario */
.caps-glosario {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.button-list {
  color: var(--color2);
  font-size: 1.1rem;
  font-family: var(--kanit-ExtBold);
  padding: 0.5rem;
  border: medium var(--color2) solid;
  border-radius: 10px;
  width: 119px;
  text-align: center;
  margin-bottom: 1rem;
}

/* ================================ Estilos Episodio ========================================== */
.img-article1 {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: medium var(--color2) solid;
  border-radius: 10px;
  display: block;
}
.sipnosis {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  color: var(--color3);
  padding: 1rem;
  font-family: var(--kanit-regular);
  background-color: var(--color2);
  text-align: justify;
}
.sipnosis b {
  color: var(--color4);
}
/* Estilos Contenedor del iframe */
.article1-iframe {
  width: 100%;
  height: auto;
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.article1-iframe iframe {
  width: 95%;
  height: 200px;
  border-radius: 10px;
  border: medium var(--color2) solid;
}
.controls-eps {
  width: 95%;
  height: auto;
  margin: 0 auto;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}
.next,
.down {
  color: var(--color2);
  font-size: 0.8rem;
  font-family: var(--kanit-ExtBold);
  text-align: center;
  text-decoration: none;
}
.controls-eps a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.controls-eps a:hover {
  transform: scale(1.1);
  transition: 400ms ease;
}
.controls-eps a:nth-child(1) span,
.controls-eps a:nth-child(5) span {
  font-size: 1.7rem;
  font-family: var(--kanit-ExtBold);
  color: var(--color2);
  padding-bottom: 7px;
}
.eps {
  z-index: 200;
  width: 72px;
  height: auto;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.eps span {
  width: 2rem;
  height: 0.25rem;
  margin-bottom: 0.25rem;
  position: relative;
  background: var(--color2);
  border-radius: 0.2rem;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}
