/* Medias Para Las Páginas Principales: Inicio, Login, Directorio, Animes */

@media screen and (min-width: 375px) {
  .anime-cards {
    height: 460px;
  }
  .anime-cards_img img {
    height: 345px;
  }
}

@media screen and (min-width: 425px) {
  .card-container {
    width: 75%;
  }
  .card-container_letras {
    width: calc(100vw / 2.5);
    height: calc(100vh / 4.5);
  }
  .anime-cards {
    height: 500px;
  }
  .anime-cards_img img {
    height: 385px;
  }
}

@media screen and (min-width: 768px) {
  /* ================================= Estilos Para El Header 768px =========================== */
  .main-header {
    width: 100%;
    justify-content: space-around;
    padding: 0;
  }
  .button-menu {
    display: none;
  }
  .flexRow-CC {
    width: 55%;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
  }
  .main-nav {
    position: static;
    height: auto;
    margin-left: 0;
  }
  .nav-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background: #0198fa;
    padding-right: 20px;
    padding-left: 20px;
  }
  .link-item {
    display: inline-block;
    margin: 0;
    font-size: 1.1rem;
  }
  .inicio {
    margin: 0;
  }

  /* ====================================== Estilos Para El Carrusel ========================== */
  .section1-title {
    font-size: 2rem;
  }
  .img1 {
    background-image: url("../IMG/ChainsawMan768px.webp");
  }
  .img2 {
    background-image: url("../IMG/Naruto768px.jpeg");
  }
  .img3 {
    background-image: url("../IMG/DeathNota768px.jpg");
    background-position: 100%;
  }
  .img4 {
    background-image: url("../IMG/NanatzuNoTaizai768px.webp");
  }
  .img5 {
    background-image: url("../IMG/Hataraku768px.jpg");
  }
  #container-slider {
    width: 90%;
    overflow: hidden;
  }
  #slider {
    width: 100%;
    height: calc(100vh - 57px);
  }
  #container-slider .arrowPrev,
  #container-slider .arrowNext {
    font-size: 35px;
    width: 37px;
    height: 37px;
  }
  .content_slider {
    position: relative;
  }
  .content_slider div {
    position: absolute;
    bottom: 60px;
  }
  .content_slider h2 {
    font-size: 2rem;
  }
  .content_slider a {
    font-family: var(--kanit-black);
    font-size: 1.1rem;
  }

  /* Estilos de las Cards */
  .anime-cards_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .anime-cards {
    width: calc(100vw / 2.4);
    height: 330px;
  }
  .anime-cards_img img {
    height: 200px;
  }

  /* Estilos Para El Top */
  .top-container {
    justify-content: center;
  }
  .pos-top {
    width: calc(100% / 4);
    height: auto;
  }
  .pos-top img {
    height: auto;
  }

  /* Estilos Enlaces */

  .title-link {
    font-size: 1.3rem;
  }
  .title-link a {
    font-size: 1.4rem;
  }

  /* Estilos Subpagina 'Animes' */
  .content1 {
    flex-direction: row;
  }
  .card-container {
    width: calc(100vw / 3.5);
    height: calc(100vh / 1.5);
  }
  .card-container span,
  .ir label {
    font-size: 2rem;
  }
  .img-card {
    width: 100%;
    height: 200px;
  }
  .img-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center top;
  }
  .text-card {
    font-size: 1rem;
    margin-top: 10px;
    height: 100px;
  }

  /* Estilos Casita de Inicio */
  .inicio {
    width: 2rem;
    height: 2rem;
    /* margin: 32px 0 0; */
  }
  .inicio svg {
    fill: var(--color2);
  }

  /* Estilos Cards Del  Directorio */
  .card-container_letras {
    width: calc(100vw / 3.8);
    height: calc(100vh / 5.4);
  }
}

@media screen and (min-width: 1024px) {
  #pos1 {
    width: 60%;
    height: auto;
  }
  #pos2 {
    width: 45%;
    height: auto;
  }
  #pos3 {
    width: 45%;
    height: auto;
  }
  #pos1 img,
  #pos2 img,
  #pos3 img {
    height: auto;
  }
  .pos-top {
    width: 30%;
    height: 240px;
  }
  .pos-top img {
    height: 180px;
  }
  .pos-top div {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }
  .title-link {
    font-size: 1.5rem;
  }
  .anime-cards {
    width: calc(100vw / 2.8);
    height: 300px;
  }
  .anime-cards_img img {
    height: 180px;
  }

  /* Estilos area de "Animes" */
  .text-card {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1440px) {
  /* ================================= Estilos Para El Header 768px =========================== */
  .flexRow-CC {
    width: 35%;
    justify-content: flex-start;
    margin-left: 20px;
  }
  .main-header {
    height: 65px;
  }
  .logo {
    width: 4rem;
    height: 4rem;
  }
  .link-item {
    font-size: 1.4rem;
  }
  .main-nav {
    width: 45%;
  }
  .title {
    font-size: 2rem;
  }

  /* Estilos Para El Top */
  .pos-top span {
    font-size: 3rem;
  }
  .pos-top {
    height: 320px;
  }
  .pos-top img {
    height: 245px;
  }

  /* Estilos Enlaces */
  .title-link {
    font-size: 1.7rem;
  }
  .title-link a {
    font-size: 1.7rem;
  }

  /* Estilos de las Cards */
  .anime-cards {
    width: calc(100vw / 3.3);
    height: 350px;
  }
  .anime-cards_img img {
    height: 220px;
  }
  .anime-cards_text a {
    font-size: 1.4rem;
  }
  .anime-cards_text h3 {
    font-size: 1.7rem;
  }

  /* Estilos Subpagina 'Animes' */
  .card-container {
    width: calc(100vw / 3.8);
    height: calc(100vh / 2);
  }
  .card-container span,
  .ir label {
    font-size: 2rem;
  }
  .img-card {
    width: 100%;
    height: 300px;
  }
  .text-card {
    font-size: 1.4rem;
  }

  /* Estilos Cards Del  Directorio */
  .card-container_letras {
    width: calc(100vw / 4.9);
    height: calc(100vh / 5.9);
  }
}

/* Medias Para Las Paginas Secundarias: Biografias, Listas, Episodios, etc */
@media screen and (min-width: 768px) {
  /* Estilos Para La Subpágina de Lista de Episodios De Chainsaw Man */
  .hero-image {
    width: 90%;
    height: calc(100vh - 60px);
    background-image: url(../IMG/ChainsawMan768px.webp);
    background-position: center top;
  }
  .black-cape {
    height: 100%;
  }
  /* Estilos Para Las Miniaturas */
  .miniatura-eps {
    width: 65%;
    margin: 0 auto;
  }
  .number-eps {
    font-size: 1.4rem;
  }
  .eps-title {
    font-size: 1.1rem;
    width: 40%;
  }

  /* ================================ Estilos Episodio ========================================== */
  .article-titlePrincipal {
    width: 48%;
  }
  .article768px {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
  }
  .img-article1 {
    width: 48%;
    order: 1;
  }
  .sipnosis {
    width: 48%;
    order: 5;
  }
  /* Estilos Contenedor del iframe */
  .article1-iframe iframe {
    width: 95%;
    height: calc(100vh - 70px);
  }
  .controls-eps {
    width: 60%;
    height: auto;
    justify-content: space-evenly;
  }
  .next,
  .down {
    font-size: 1.1rem;
  }

  /*============================== Estilos Para La Sub-Pagina de Información ============================*/
  .hero-image {
    width: 75%;
    height: calc(100vh - 70px);
    background-position: center top;
  }
  .black-cape {
    height: 100%;
  }
  .article1-content {
    width: 80%;
    margin: 0 auto;
  }
  .article-titlePrincipal {
    font-size: 2rem;
    text-align: center;
    margin: 1rem auto;
  }
  .article1-img1 {
    width: 30%;
    float: left;
    height: 300px;
    margin: 1rem;
    margin-left: 5.5rem;
    border-radius: 21px;
    overflow: hidden;
  }
  .article1-img1 img {
    width: 100%;
    height: 100%;
  }
  .trailer1 {
    width: 70%;
    height: 360px;
  }
}

@media screen and (min-width: 968px) {
  /* Estilos Para La Subpágina de Lista de Episodios De Chainsaw Man */
  .hero-image {
    width: 95%;
    height: calc(100vh - 60px);
    background-image: url(../IMG/ChainsawMan320px.png);
    background-position: center top;
  }
  .black-cape {
    height: 100%;
  }

  /* Estilos Para Las Miniaturas */
  .miniatura-eps {
    width: 65%;
  }
  .miniatura-img {
    height: 120px;
  }
  .number-eps {
    font-size: 2rem;
  }
  .eps-title {
    font-size: 1.4rem;
  }
  .Enlace {
    font-size: 1.4rem;
  }
  /* Estilos Para El Glosario */
  .caps-glosario {
    width: 35%;
  }
  .button-list {
    font-size: 1.2rem;
  }

  /* ================================ Estilos Episodio ========================================== */

  .sipnosis {
    font-size: 1.1rem;
  }
  /* Estilos Contenedor del iframe */
  .controls-eps {
    width: 45%;
  }
  .next,
  .down {
    font-size: 1rem;
  }
  .controls-eps a:nth-child(1) span,
  .controls-eps a:nth-child(5) span {
    font-size: 1.8rem;
  }
  .article1-content {
    width: 85%;
  }
}

@media screen and (min-width: 1024px) {
  .sipnosis {
    font-size: 1.2rem;
  }
  .article1-img2 {
    height: 450px;
  }
  .article1-img2 img {
    object-fit: cover;
    object-position: top center;
  }
  .article1-1024px .article1-content {
    width: 65%;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1440px) {
  .article1-content {
    width: 90%;
    font-size: 1.4rem;
  }
  .article1-1024px .article1-content {
    width: 55%;
    font-size: 1.4rem;
  }
  .trailer1 {
    height: 480px;
  }
  .sipnosis {
    font-size: 1.4rem;
  }
}
